{% extends 'base.html' %}

{% block title %} Meraki Guest Portal Self-Provisioning {% endblock %}

{% block content %}

	<h1>Welcome to Fujiwara-API</h1>
	<p>The awesome HUD to see all your Meraki Network status in one</p>

	<div id='FirstTimeForm'>
	<form id="RestartNgrok" method="post">
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Restart ngrok</button>
		</div>
	</form>
	</div>

	<div id='ListResults'>
	<table class="table">
	<tr><th scope="col">nGrok Tunnel Details</th></tr>
	<tr><th scope="row">{{ ngroktunnel }}</th></tr>
	</table>
	</div>

{% endblock %}
