{% extends 'base.html' %}

{% block title %} Fujiwara-API - Admin Page {% endblock %}

{% block content %}

	<h1>Welcome to Fujiwara-API - Admin Page</h1>
	<p>The awesome HUD to see all your Meraki Network status in one</p>

	<div id='FirstTimeForm'>
	<form id="RestartNgrok" method="post">
		<div class="form-group">
			<button type="submit" class="btn btn-primary" name="submit_button" value="webhook_restart">Start/Restart Webhook Container</button>
		</div>
	</form>
	<form id="RestartEngineIO" method="post">
		<div class="form-group">
			<button type="submit" class="btn btn-primary" name="submit_button" value="engineio_restart">Start/Restart Engine.io Container</button>
		</div>
	</form>
	</div>

	<div id='ListResults'>
	<table class="table">
	<tr><th scope="col">Webhook Server Status</th></tr>
	<tr><th scope="row">{{ webhook_status }}</th></tr>
	<tr><th scope="col">Webhook Container Status</th></tr>
	<tr><th scope="row">{{ webhook_container_status }}</th></tr>
	<tr><th scope="col">Engine.IO Server Status</th></tr>
	<tr><th scope="row">{{ engineio_status }}</th></tr>
	<tr><th scope="col">Engine.IO Container Status</th></tr>
	<tr><th scope="row">{{ engineio_container_status }}</th></tr>
	</table>
	</div>

	<div id = 'Manual Triggers'>
	<form id="Refresh Inventory" method="post">
		<div class="form-group">
			<button type="submit" class="btn btn-primary" name="submit_button" value="inventory_collection">Trigger Inventory Collection</button>
		</div>
	</form>
	<form id="Manual Trigger SNMP" method="post">
		<div class="form-group">
			<button type="submit" class="btn btn-primary" name="submit_button" value="inventory_collection">Trigger SNMP Polling</button>
		</div>
	</form>
	</div>

{% endblock %}
